@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 8, 51, 88;
  --background-rgb: 246, 246, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 246, 246, 246;
    --background-rgb: 8, 51, 88;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  margin: 10px 100px;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
